* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

header {    
    color: white;
    background-color: rgb(168, 80, 18);
    height: 60px;
    padding: 20px;

    position: sticky;
    top: 0px;
    left: 0;
    z-index: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        color: white;
        margin: 0 4px;
        text-decoration: none;
    }
}

.logo {
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.hero {
    width: 100%;
    height: 40vw;
    padding: 20px;

    position: relative;
    overflow: hidden;

    backdrop-filter: blur(20px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    h1, p {
        color: white;
        text-align: center;
        margin: 6px 0px;
    }

    ::before {
        content: "";
        background-image: url('background-header.jpg');
        background-size: cover;
        filter: blur(3px);
        position: absolute;
        top: 0; left: 0; width: 100%; height: 100%;
        z-index: -1;
      }
}

#menu {
    /* width: minmax(40px, 20px); */
    /* width: 200px; */
    width: 100%;
    padding: 10px;
    gap: 12px;

    margin: auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.item {
    background-color: gray;
    background-color: rgb(168, 80, 18);
    color: white;
    padding: 12px;
    border-radius: 20px;

    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 6px 0px;

    transition: 0.1s all ease;

    .coffee_img {
        width: 100%;
        border-radius: 8px;
    }

    &:hover{
        translate: 0px -4px;
    }
}

footer {
    text-align: center;
    background-color: gray;
    color: white;
    margin-top: 8px;
    padding: 8px;
}

@media (max-width: 768px) {
    header {
        height: 80px;
        flex-direction: column;
    }
}